<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Contacts</title>
</head>

<body>
    <div class="wrapper">
        <div class="container top-box">
            <ul class="header">
                <li> <a href="/"><img src="/static/img/logo.svg" alt="Главная"></a></li>
                <li><a href="/contacts/"><img src="/static/img/Vector.svg" alt="Контакты"></a></li>
            </ul>
        </div>
        <div class="contact-greeting">
            <div class="container-contacts">
                <h1 class="main-heading head-greating">Contact Us</h1><br>
                <p class="paragraf text-greating">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad odio a
                    vero
                    soluta
                    recusandae
                    facilis? Quis harum quo reprehenderit ducimus?</p>
            </div>
        </div>
        <div class="container-contacts">
            <div class=" base-box">
                <div class="reference-information">
                    <img class="reference-img" src="/static/img/contacts.svg" alt="contacts">
                    <div class="middle-contacts-block">
                        <h4 class="forty-heading heading-help-information">ADRESS</h4>
                        <p class="paragraf adress">Id convallis placerat sit sed duis id amet volutpat quam a,
                            pharetra.</p>
                        <h4 class="forty-heading heading-help-information">PHONE</h4>
                        <ul class="phones">
                            <li class="phones midle-contacts-text">+7-812-7313-4321</li>
                            <li class="phones midle-contacts-text">+7-817-0000-1234</li>
                        </ul>
                        <h4 class="forty-heading heading-help-information">ONLINE SERVICE</h4>
                        <ul class="adresses">
                            <li class="sites midle-contacts-text">www.site.com</li>
                            <li class="mails midle-contacts-text">hello.site@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="input-form">
                    <form action="#">
                        <h2 class="forty-heading input-heading">SEND US MESSAGE</h2>
                        <p class="text caption">Full name</p><input class="entry-field" type="text"
                            placeholder="Алексей">
                        <p class="text caption">Email</p> <input class="entry-field" type="email"
                            placeholder="mymail@mail.ru">
                        <p class="text caption">Текст Message</p><textarea class="entry-field textarea-contacts"
                            cols="30" rows="10"></textarea><br>
                        <button class="entr-btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="map">
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6a3fc46d34d884c1aebcc3f74a13b59b806300f4be94077738a71072b6280770&amp;width=100%&amp;height=100%&amp;lang=ru_UA&amp;scroll=true"></script>
        </div>
        <div class="footer">
            <div class="container">
                <div class=" info">
                    <div class="info-block">
                        <h3 class="thirty-heading info-heading">Intersted to woek
                            with our team?</h3>
                        <p class="text info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>

                    <div class="btn-block">
                        <a class="info-btn" href="#">Let’s Talk</a>
                    </div>
                </div>
            </div>
            <hr class="footer-line">
            <div class="container">
                <ul class="contacts">
                    <li class="contacts-list footer-img-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </li>
                    <li class="contacts-list footer-img-2">+7-812-7313-4321</li>
                    <li class="contacts-list footer-img-3">hello.site@gmail.com</li>
                </ul>
                <p class="text copyright">2020 © All rights reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>