<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Homepage</title>
</head>

<body>
    <div class="wrapper">
        <div class="head-block">
            <div class="container top-box">
                <ul class="header">
                    <li> <a href="/"><img src="/static/img/logo.svg" alt="Главная"></a></li>
                    <li><a href="/contacts/"><img src="/static/img/Vector.svg" alt="Контакты"></a></li>
                </ul>
                <div class="top-info">
                    <h1 class="top-heading">New Automation Tool for Your </h1>
                    <p class="text top-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique
                        vulputate
                        ultrices ut
                        mauris
                        tellus at. Posuere sollicitudin odio tellus elit.</p>
                    <a class="top-button" href="#">See Our Project</a>
                </div>
            </div>
        </div>
        <div class="container context">
            <h3 class="thirty-heading">What we do to help our client grow in digital era</h3>
            <div class="context-box">
                <div class="context-block">
                    <img class="context-img" src="/static/img/context-1.svg" alt="img">
                    <h4 class="forty-heading">Make Your business To Be
                        Better Famous In Internet</h4>
                    <p class="text text-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et dolore magna aliqua. </p>
                    <a class="context-link" href="#">Learn more</a>
                </div>
                <div class="context-block">
                    <img class="context-img" src="/static/img/context-2.svg" alt="img">
                    <h4 class="forty-heading">Bring Technology To Your
                        Comfrotable Home</h4>
                    <p class="text text-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                    <a class="context-link" href="#">Learn more</a>
                </div>
                <div class="context-block">
                    <img class="context-img" src="/static/img/context-3.svg" alt="img">
                    <h4 class="forty-heading">Build Your Digital Product
                        That Suitable For Your Need</h4>
                    <p class="text text-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. </p>
                    <a class="context-link" href="#">Learn more</a>
                </div>
            </div>
        </div>
        <div class="container project">
            <h3 class="thirty-heading">Our Finished Project</h3>
            <p class="text text-middle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <div class="project-item">
                <img class="project-img" src="/static/img/project-item1.png" alt="item1">
                <p class="project-text">Smart Home Installation</p>
            </div>
            <div class="project-parent">
                <div class="project-item project-parent-margin">
                    <img class="project-img" src="/static/img/project-item2.png" alt="item2">
                    <p class="mini-project-text">Sparklite App</p>
                </div>
                <div class="project-item">
                    <img class="project-img" src="/static/img/project-item3.png" alt="item3">
                    <p class="mini-project-text">Car-Rapetition App</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class=" info">
                    <div class="info-block">
                        <h3 class="thirty-heading info-heading">Intersted to woek
                            with our team?</h3>
                        <p class="text info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                            tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>

                    <div class="btn-block">
                        <a class="info-btn" href="#">Let’s Talk</a>
                    </div>
                </div>
            </div>
            <hr class="footer-line">
            <div class="container">
                <ul class="contacts">
                    <li class="contacts-list footer-img-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </li>
                    <li class="contacts-list footer-img-2">+7-812-7313-4321</li>
                    <li class="contacts-list footer-img-3">hello.site@gmail.com</li>
                </ul>
                <p class="text copyright">2020 © All rights reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>