*{
    margin: 0;
    padding: 0;
}

.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text-middle{
    margin: 32px auto 64px;
    width: 75%;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.wrappper{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.head-block{
    min-height: 768px;
    margin: 0 auto;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container{
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 113px;
    padding-right: 113px;
}

.header{
    margin-top: 34px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.top-heading{
    max-width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.thirty-heading{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.forty-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.top-text{
    max-width: 425px;
}

.top-info{
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: right 220px;
    background-size: 44%;
    padding-top: 115px;
    flex-grow: 1;
}

.top-button{
    padding: 15px 50px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    margin-bottom: 190px;
}

.top-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.context{
    padding-top: 64px;
}
.context-box{
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.context-block{
    margin-bottom: 32px;
    padding: 44px 32px;
    box-sizing: border-box;
    width: 358px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}


.context-img{
    align-self: center;
    margin-bottom: 51px;
    max-height: 120px;
    width: 100%;
    box-sizing: border-box;
}

.context-link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}
.text-context{
    margin-bottom: 29.8px;
}

.project{
    margin-bottom: 112px;
    flex-grow: 1;
}

.project-text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.mini-project-text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.project-img{
    width: 100%;
}

.project-parent{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.project-item{
    width: auto;
    position: relative;
}

.project-parent-margin{
    margin-right: 32px;
}

.footer{
    padding-top: 91px;
    padding-bottom: 64px;
    background: #316099;
}

.info{
    display: flex;
    justify-content: space-between;
}

.btn-block{
    align-self: center;
}

.info-heading{
    max-width: 341px;
    text-align: left;
    color: #FFFFFF;
}

.info-text{
    margin-top: 32px;
    color: #FFFFFF;
    max-width: 495px;
}

.footer-line{
    margin-top: 96px;
    color: #FFFFFF;
}

.info-btn{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

.contacts{
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
    list-style-type: none;
}

.contacts-list{
        list-style-position:inside;
        width: 316px;
        color: #FFFFFF;
}

.copyright{
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

.container-contacts{
    padding-right: 212px;
    padding-left: 214px;
}

.contact-greeting{
    margin-top: 55px;
    padding: 51px 0 49px 0;
    text-align: center;
    background-image: url(img/bckg-contacts.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.head-greating{
    color: #FFFFFF;
}

.text-greating{
    color: #FFFFFF;
    text-align: center;
    max-width: 780px;
}

.base-box{
    margin-top: 57px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.input-form{
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    box-sizing: border-box;
}

.input-heading{
    letter-spacing: 0.04em;
}

.entry-field{
    padding: 21px 0 21px 42px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    width: 100%;
    box-sizing: border-box;
}

.entr-btn{
    margin-top: 72px;
    padding: 23px 183px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.caption{
    margin-top: 32px;
    padding-bottom: 8px;
}

.heading-help-information{
    margin: 40px 0 24px 0;
    letter-spacing: 0.04em;
}

.midle-contacts-text{
    padding-bottom: 16px;
    margin-left:  25px;
}

.middle-contacts-block{
    margin-top: 16px;   
}

.reference-information{
    margin-right: 110px;
}

.reference-img{
    max-width: 300px;
    align-self: center;
}

.midle-contacts-text{
    padding-left: 18px;
    max-width: 300px;
}

.phones{
    list-style-image: url(img/phone.svg);
}

.sites{
    list-style-image: url(img/internet.svg);
}

.mails{
    list-style-image: url(img/mail.svg);
}

.adress{
    max-width: 300px;
}

.map{
    height: 480px;
    padding-right: 213px;
    padding-left: 213px;
    margin-top: 96px;
    margin-bottom: 112px;
    box-sizing: border-box;
    flex-grow: 1;
}

.footer-img-1{
    list-style-image: url(img/A.svg);
}

.footer-img-2{
    margin-left: 32px;
    list-style-image: url(img/T.svg);
}

.footer-img-3{
    list-style-image: url(img/E.svg);
}

@media (max-width: 1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;        
    }

    .context-box{
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .project{
        margin-bottom: 109px;
        margin-top: 127px;
    }

    .thirty-heading{
        font-size: 24px;
    `   line-height: 28px;
    }
    

    .info{
        justify-content: space-around;
    }

    .info-btn{
        padding: 7px 28px;
    }

    .info-block{
        max-width: 336px;
    }

    .contacts{
        flex-direction: column;
        align-items: center;
    }

    .contacts-list{
        padding-left: 0;
        margin-bottom: 25px;
        width: 100%;
    }

    .footer-img-2{
        margin-left: 0;
    }

    /* Contacts 1024px*/

    .container-contacts{
        padding-right: 124px;
        padding-left: 124px; 
    }


    .reference-information{
        margin-right: 0;
    }

    .reference-information{
        margin: 0 auto;
    }

    .base-box{
        padding-top: 84px;
        flex-direction: column;
        max-width: 300px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        max-width: 1000px;
    }
    

    .heading-help-information{
        text-align: left;
    }

    .midle-contacts-text{
        text-align: left;
    }

    .input-form{
        margin-top: 64px;
        box-sizing: border-box;
    }

    .input-heading{
        max-width: 178px;
    }

    .entr-btn{
        margin-top: 70px;
        width: 100%;
    }

    .map{
        height: 392px;
        padding-right: 0;
        padding-left: 0;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}




@media (max-width: 667px){
    
    .header{
        margin-top: 24px;
    }

    .top-info{
        background-image: none;
    }

    .container{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .top-heading{
        text-align: center;
        font-size: 32px;
        line-height: 37px;
    }

    .top-info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-text{
        text-align: center;
    }

    .top-button{
        padding: 7px 8px;
        font-size: 12px;
        line-height: 26px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 41px;     
    }

    .head-block{
        flex-grow: 1;
        min-height: 376px;
        background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
        box-sizing: border-box;
    }

    .context{
        flex-grow: 1;
        padding-top: 48px;
    }

    .thirty-heading{
        font-size: 24px;
        line-height: 28px;
    }

    .context-block{
        width: 100%;
    }

    .text-middle{
        width: 100%;
        margin-bottom: 82px;
    }

    .project-parent{
        margin-top: 16px;
        flex-direction: column;
        width: 100%;
    }

    .project-text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .mini-project-text{
        font-size: 16px;
        line-height: 19px;  
        left: 16px;     
    }

    .project-parent-margin{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .project-parent{
        margin-top: 16px;
    }

    .info{
        flex-direction: column;
        align-items: center;
    }

    .contacts{
        flex-direction: column;
    }

    .contacts-list{
        margin-bottom: 18px;
        text-align: left;
    }

    .copyright{
        width: 100%;
        text-align: center;
        margin: 37px 0 0 0;
    }

    .footer{
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .info-btn{
        display: inline-block;
        padding: 7px 14px;
    }

    .info-heading{
        text-align: center;
    }

    .info-text{
        text-align: center;
        padding-bottom: 40px;
    }

    .footer-line{
        margin-top: 41px;
    }
    


    /*Contacts styles */

    .container-contacts{
        padding-left: 17px;
        padding-right: 15px;
    }

    .contact-greeting{
        margin-top: 33px;
        padding-top: 48px;
        padding-bottom: 61px;
    }
    .head-greating{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.04em;
    }

    .text-greating{
        font-size: 16px;
        line-height: 30px;
    }

    .base-box{
        padding-top: 46px;
    }

    .input-form{
        padding: 36px;
    }

    .input-heading{
        font-size: 16px;
    }

    .entry-field{
        padding: 14px 54px 14px 22px;
        font-size: 14px;
    }

    .caption{
        margin-top: 21px;
    }

    .textarea-contacts{
        max-height: 92px;
    }

    .entr-btn{
        margin-top: 45px;
        width: 100%;
        padding: 15px 54px 15px 60px;
    }

    .map{
        height: 349px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}



